// common

strong {
	font-weight: 700;
}

.btn {
	transition: all 200ms ease-in-out;
	font-weight: 700;
}

.btn-fix {
	width: $btn-fix-width;
}

.app-title {
	margin-bottom: 18px;
	margin-top: 0;
}

.title-logo {
	float: left;
	display: block;
	margin: 0 10px 10px 0;

	@media (min-width: 700px) {
		width: 100px;
		height: 100px;
	}
}

.app-description {
	display: none;

	@media (min-width: 700px) {
		display: block;
	}
}

h4 {
	font-size: 16px;

	@media (min-width: 700px) {
		font-size: initial;
	}
}

hr {
	display: none;

	@media (min-width: 700px) {
		display: block;
	}
}

.nav-box {
	display: block;
	padding: 18px;
	margin: 0;
	z-index: 99999;

	background-color: rgba(255,255,255, 0.75);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	max-height: 800px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;

	@media (min-width: 700px) {
		left: 18px;
		top: 18px;
		right: auto;
		max-width: 300px;
		box-shadow: 1px 1px 6px #d5d5d5;
	}
}

.guesses {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 3rem;

	@media (min-width: 700px) {
		margin: 0;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

.the-guess {
	display: inline-block;
	position: relative;
	text-align: left;

	@media (min-width: 700px) {
		display: block;
		margin: 0;
		width: 100%;
    padding: 10px 15px;
	}
}

.guess-country {
	color: #333;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
}

.map-canvas {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.toggle-regions {
	cursor: pointer;
}

.regions {
	display: none;

	&.regions--open {
		display: block;
	}
}

.score {
	font-weight: 400;
}

.scored {
	font-size: 3rem;
}

.footer {
	display: none;

	@media (min-width: 700px) {
		display: block;
	}
}

.footer span {
	font-size: 85%;
}

.cursor {
	cursor: pointer;
}